.section__wrap img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
}

.section__card {
    padding: 0 20px;
}

.section__card img {
    margin-bottom: 10px;;
}